{% extends "layout.html" %}

{% block content %}
	{% for topic in topics %}
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card mt-4">
				<div class="card-body">
					<h5 class="card-title">{{ topic.topic_name }}</h5>
					{% for article in topic.articles %}
						<a href="{{ article.rssfeed.site_url }}">
							<small class="text-muted">{{ article.rssfeed.site_name }}</small>
						</a>
						<p class="card-text"><a href="{{ article.link }}">{{ article.title }}</a></p>
					{% endfor %}
				</div>
			</div>	
		</div>
	{% endfor %}
{% endblock content %}