{% extends "base.html" %}

{% block content %}
<div class="container padding-bottom">
  <div class="row">
    <div class="col-12 mt-4">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="col-sm-12 col-md-9 col-lg-7 mt-2">
      <div class="bg-white p-4 border mb-3">
        <h3 class="mb-4 ">About FeedForest</h3>
        <p>
          FeedForest makes newsfeed subscription simple. Instead of having to subscribe
          to several newsletters, get the latest updates from your favourite sites with a single account.
        </p>
        <p>
          Features include:
          <ul>
            <li>Subscribe to your favourite RSS feeds, a selection of feeds from various topics is also available</li>
            <li>Database of articles refreshed with the latest updates every hour</li>
            <li>Customisable feed wall for the current contents of subscribed feeds at a glance</li>
            <li>Bookmark articles for later</li>
            <li>'Inbox' view for all articles from each subscribed feed since the day it was selected</li>
            <li>Opt-in for a daily email with updates, at the time of your choice</li>
          </ul>
        </p>  
      </div>
      
      <div class="d-flex justify-content-center">
        <div class="text-center px-3 border-right">
          <span class="text-muted">Built with Flask</span><br>
          <a href="https://flask.palletsprojects.com/en/1.1.x/">
            <img src="{{ url_for('static', filename='images/Flask_logo.svg') }}" 
              alt="Flask logo"
              width=110px>  
          </a>
        </div>
        <div class="text-center px-3">
          <span class="text-muted">Find this project on GitHub</span><br>
          <a href="https://github.com/Ak5cel/feedforest" class="text-secondary" target="_blank">
            <i class="fab fa-github-square fa-2x mt-2" style="vertical-align: middle;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}