{% extends "base.html" %}

{% block content %}
<div class="container padding-bottom">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 mt-4">
      <div class="list-group sidenav">
        <a class="list-group-item list-group-item-action {% if request.endpoint == 'user.account' %} active {% endif %} " 
          href="{{ url_for('user.account') }}">
            Profile Summary
        </a>
        <a class="list-group-item list-group-item-action {% if request.endpoint == 'user.edit_profile' %} active {% endif %}" 
          href="{{ url_for('user.edit_profile') }}">
            Edit Profile
        </a>
        <a class="list-group-item list-group-item-action {% if request.endpoint == 'user.edit_feeds' %} active {% endif %}" 
          href="{{ url_for('user.edit_feeds') }}">
            Edit Feeds
        </a>
        <a class="list-group-item list-group-item-action {% if request.endpoint == 'user.edit_email_pref' %} active {% endif %}" 
          href="{{ url_for('user.edit_email_pref') }}">
            Email Preferences
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 mt-4">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block account_info %}
      {% endblock %}
    </div>
  </div>
</div>
  
{% endblock content %}
