{% extends "account.html" %}

{% block account_info %}
	<div class="content-section mb-3">
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend class="border-bottom mb-4">Edit Email Preferences</legend>
				{{ form.utc_offset(id="hiddenOffset", type="hidden") }}
				{{ form.time_from_db(id="hiddenTime", type="hidden") }}
				<div class="row">
					<div class="form-group col-sm-12 col-md-8 col-xl-7">
					    {{ form.frequency.label(for="frequencyField") }}
					    {% if form.frequency.errors %}
					        {% for option in form.frequency %}
						    	<div class="form-check" id="frequencyField">
						    		{{ option(class="form-check-input", type="radio", id=loop.index0) }}
						    		{{ option.label(class="form-check-label", for=loop.index0) }}
						    	</div>
					    	{% endfor %}
					        <div class="invalid-feedback">
					            {% for error in form.frequency.errors %}
					                <span>{{ error }}</span>
					            {% endfor %}
					        </div>
					    {% else %}
					    	{% for option in form.frequency %}
						    	<div class="form-check" id="frequencyField">
						    		{{ option(class="form-check-input", type="radio", id=loop.index0) }}
						    		{{ option.label(class="form-check-label", for=loop.index0) }}
						    	</div>
					    	{% endfor %}
					    {% endif %}
					</div>
					<div class="form-group col-sm-12 col-md-8 col-xl-7">
						<fieldset class="col" id="timeFieldSet">
							<div class="form-group">
							    <div class="form-row">
						    		<div class="form-group col-sm-5 col-md-6">
						    			{% if form.hour.errors %}
						    				{{ form.hour(class="custom-select custom-select-sm is-invalid", id="hourField") }}
											<div class="invalid-feedback">
											    {% for error in form.frequency.errors %}
											        <span>{{ error }}</span>
											    {% endfor %}
											</div>
						    			{% else %}
											{{ form.hour(class="custom-select custom-select-sm", id="hourField") }}
						    			{% endif %}
						    		</div>
						    		<div class="form-group col-sm-4 col-md-5">
						    			{% if form.am_or_pm.errors %}
						    				{{ form.am_or_pm(class="custom-select custom-select-sm is-invalid", id="ampmField") }}
											<div class="invalid-feedback">
											    {% for error in form.frequency.errors %}
											        <span>{{ error }}</span>
											    {% endfor %}
											</div>
						    			{% else %}
											{{ form.am_or_pm(class="custom-select custom-select-sm", id="ampmField") }}
						    			{% endif %}
						    		</div>
							    </div>
							</div>	
						</fieldset>	
					</div>
					<div class="form-group col-sm-12 col-md-8 col-xl-7">
					    {{ form.submit(class="btn btn-success btn-sm mt-3") }}
					</div>	
				</div>
			</fieldset>
		</form>
	</div>
{% endblock account_info %}
{% block scripts %}
	<script src="{{ url_for('static', filename='datetime-utils.js') }}"></script>
	<script src="{{ url_for('static', filename='edit-email-pref.js') }}"></script>
	<script src="{{ url_for('static', filename='email-pref-radios.js') }}"></script>
{% endblock scripts %}