{% extends "layout.html" %}

{% block filters_section %}
	<div class="col-sm-12 col-md-3 col-lg-3 mt-3 mb-3">
	    <!-- Topics-dropdown -->
	    <div class="dropdown">
	        <button class="btn btn-outline-dark btn-block text-left dropdown-toggle" type="button" id="topicsDropdownButton" 
	                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Topics
	        </button>
	        <div class="dropdown-menu" aria-labelledby="topicsDropdownButton">
	            <form method="POST" action="" id="topicsForm">
	                {% for topic in topics %}
	                    <a class="dropdown-item" href="#">
	                        <div class="form-check">
	                            <input class="form-check-input" 
	                                type="checkbox" 
	                                value=""
	                                name="{{ topic.topic_name }}" 
	                                id="{{ 'topic' ~ loop.index }}"
	                                checked>
	                            <label class="form-check-label" for="{{ 'topic' ~ loop.index }}">
	                                {{ topic.topic_name }}
	                            </label>
	                        </div>
	                    </a>
	                {% endfor %}
	                <div class="mt-3 mx-2">
	                    <button type="button" onclick="filterFeedsByTopic()" class="btn btn-outline-primary btn-sm btn-block">Apply</button>
	                </div>
	            </form>
	        </div>
	    </div>
	    <!-- /Topics-dropdown -->
	</div>
	<div class="col-sm-12 col-md-6 col-lg-5 mt-3 mb-3">
	    <!-- Sites-dropdown -->
	    <div class="dropdown">
	        <button class="btn btn-outline-dark btn-block text-left dropdown-toggle" type="button" id="sitesDropdownButton" 
	                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Feeds
	        </button>
	        <div class="dropdown-menu dropdown-multicol" aria-labelledby="sitesDropdownButton">
	            <form method="POST" action="" id="sitesForm">
	                <div class="row">
	                    {% for topic in topics %}
	                        <div class="col-sm-6 col-md-4 topic-section">
	                            <h6 class="dropdown-header">{{  topic.topic_name.upper() }}</h6>
	                            {% for rssfeed in topic.rss_feeds %}
	                            <a class="dropdown-item" href="#">
	                                <div class="form-check">
	                                    <input class="form-check-input"
	                                        type="checkbox"
	                                        value=""
	                                        name="{{ rssfeed.site_name }}"
	                                        id="{{ 'rssfeed' ~ loop.index }}"
	                                        checked>
	                                    <label class="form-check-label" for="{{ 'rssfeed' ~ loop.index }}">
	                                        {{ rssfeed.site_name }}
	                                    </label>
	                                </div>
	                            </a>
	                            {% endfor %}
	                        </div>
	                    {% endfor %}
	                </div>
	                <div class="mt-3 mr-2 text-right">
	                    <button type="button" onclick="filterFeedsBySite()" class="btn btn-outline-primary btn-sm">Apply</button>
	                </div>
	            </form>
	        </div>
	    </div>
	    <!-- /Sites-dropdown -->
	</div>
{% endblock filters_section %}


{% block content %}
	<div class="col-12 text-right">
		<small class="text-muted">Last updated: {{ last_updated_on.strftime('%d/%m/%Y, %I:%M %p %Z') }}</small>
	</div>
	{% for topic in topics %}
		<div class="col-sm-12 col-md-6 col-lg-4 filterdiv {{ topic.topic_name }}">
			<div class="card mt-4">
				<div class="card-body">
					<h5 class="card-title">{{ topic.topic_name }}</h5>
					{% for article in topic.articles %}
						{% if article in articles %}
							<a href="{{ article.rssfeed.site_url }}" class="site-link">
								<small class="text-muted">{{ article.rssfeed.site_name }}</small>
							</a>
							<p class="card-text article-link"><a href="{{ article.link }}">{{ article.title }}</a></p>
						{% endif %}
					{% endfor %}
				</div>
			</div>	
		</div>
	{% endfor %}
{% endblock content %}