{% extends "layout.html" %}

{% block filters_section %}
	<div class="col-sm-12 col-md-3 col-lg-3 mt-3 mb-3">
	    <!-- Topics-dropdown -->
	    <div class="dropdown">
	        <button class="btn btn-outline-dark btn-block text-left dropdown-toggle" type="button" id="topicsDropdownButton" 
	                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Topics
	        </button>
	        <div class="dropdown-menu" aria-labelledby="topicsDropdownButton">
	            <form method="POST" action="" id="topicsForm">
	                {% for topic in topics %}
	                    <a class="dropdown-item" href="#">
	                        <div class="form-check">
	                            <input class="form-check-input" 
	                                type="checkbox" 
	                                value=""
	                                name="{{ topic.topic_name }}" 
	                                id="{{ 'topic' ~ loop.index }}"
	                                checked>
	                            <label class="form-check-label" for="{{ 'topic' ~ loop.index }}">
	                                {{ topic.topic_name }}
	                            </label>
	                        </div>
	                    </a>
	                {% endfor %}
	                <div class="mt-3 mx-2">
	                    <button type="button" onclick="filterFeedsByTopic()" class="btn btn-outline-primary btn-sm btn-block">Apply</button>
	                </div>
	            </form>
	        </div>
	    </div>
	    <!-- /Topics-dropdown -->
	</div>
	<div class="col-sm-12 col-md-6 col-lg-5 mt-3 mb-3">
	    <!-- Sites-dropdown -->
	    <div class="dropdown">
	        <button class="btn btn-outline-dark btn-block text-left dropdown-toggle" type="button" id="sitesDropdownButton" 
	                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Feeds
	        </button>
	        <div class="dropdown-menu dropdown-multicol" aria-labelledby="sitesDropdownButton">
	            <form method="POST" action="" id="sitesForm">
	                <div class="row">
	                    {% for topic in topics %}
	                    	{% set outer_loop = loop %}
	                        <div class="col-sm-6 col-md-4 topic-section">
	                            <h6 class="dropdown-header">{{  topic.topic_name.upper() }}</h6>
	                            {% for rssfeed in topic.rss_feeds %}
	                            <a class="dropdown-item" href="#">
	                                <div class="form-check">
	                                    <input class="form-check-input"
	                                        type="checkbox"
	                                        value=""
	                                        name="{{ rssfeed.feed_name }}"
	                                        id="{{ 'rssfeed' ~ outer_loop.index ~ loop.index }}"
	                                        checked>
	                                    <label class="form-check-label" for="{{ 'rssfeed' ~ outer_loop.index ~ loop.index }}">
	                                        {{ rssfeed.feed_name }}
	                                    </label>
	                                </div>
	                            </a>
	                            {% endfor %}
	                        </div>
	                    {% endfor %}
	                </div>
	                <div class="mt-3 mr-2 text-right">
	                    <button type="button" onclick="filterFeedsBySite()" class="btn btn-outline-primary btn-sm">Apply</button>
	                </div>
	            </form>
	        </div>
	    </div>
	    <!-- /Sites-dropdown -->
	</div>
{% endblock filters_section %}


{% block content %}
	<div class="col-12 text-right">
		<small class="text-muted">Last updated: {{ last_updated_on.strftime('%B %e, %Y, %I:%M %p %Z') }} UTC</small>
	</div>
	<div class="col">
		<div class="card-columns ">
		{% for topic in topics %}
			<div class="card mt-2 filterdiv {{ topic.topic_name }}">
				<div class="card-body">
					<h4 class="card-title">{{ topic.topic_name }}</h4>
					{% for article in topic.articles %}
						{% if article in articles %}
							<a href="{{ article.rssfeed.site_url }}" class="site-link">
								<small>{{ article.rssfeed.feed_name }}</small>
							</a>
							<p class="card-text article-link">
								<a href="{{ article.link }}">{{ article.title }}</a><br>
								{% if article.published_on %}
								<small class="text-muted">
									{{ article.published_on.strftime('%B %e, %Y, %I:%M %p %Z') }} UTC
								</small>
								{% endif %}
							</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endfor %}	
		</div>
	</div>
	{% if not current_user.is_authenticated %}
		<div class="col-12 mb-3">
			<div class="card text-center bg-light">
				<div class="card-body">
					<h5 class="card-title">
						Find it useful? Sign up for more
					</h5>
					<p class="card-text">
						For creating a custom feed wall and receiving daily updates from the feeds of your choice, 
						create an account!
					</p>
					<a href="{{ url_for('auth.signup') }}" class="btn btn-primary">Create an account</a>
				</div>
			</div>	
		</div>
	{% endif %}
{% endblock content %}

{% block scripts %}
	<script src="{{ url_for('static', filename='filter-scripts.js') }}"></script>
{% endblock scripts %}