{% extends "inbox-base.html" %}

{% block inbox_content %}
  <div class="bg-white border p-4 mb-3 rounded-lg">
    <div class="d-flex justify-content-between mb-3">
      <h5>All Feeds</h5>
    </div>
    {% if selected_feeds[0] %}
      <ul class="list-group list-group-flush">
        {% for feed in selected_feeds %}
          {% for article in articles_grouped[feed.id] %}
            <li class="article list-group-item px-3 d-flex justify-content-between"
              data-status="{{ 'bookmarked' if (article in current_user.bookmarked_articles) else 'notBookmarked' }}"
              data-article-id="{{ article.id }}">
              <div class="d-flex flex-column justify-content-end">
                <small>
                  <a href="{{ article.rssfeed.site_url }}" class="text-muted">{{ feed.feed_name.upper() }}</a>
                </small>
                <h6 class="pr-3">
                  <a class="text-dark" href="{{ article.link }}">{{ article.title }}</a>
                </h6> 
                {% if article.published_on %}
                <p class="small text-muted">
                  {{ article.published_on.strftime('%B %e, %Y, %I:%M %p %Z') }} UTC
                </p>
                {% endif %} 
              </div>
              <a href="#" class="toggle-bookmark">
                <i class="far fa-bookmark"></i>
              </a>
            </li> 
          {% endfor %}
        {% endfor %}
      </ul>
    {% else %}
      <div class="d-flex flex-column align-items-center justify-content-center" style="height: 150px">
        <small class="text-muted mb-2">No feeds selected</small>
        <small>
          Click 
          <a href="{{ url_for('user.edit_feeds') }}">Add Feeds</a>
          to start adding feeds!
        </small>
      </div>
    {% endif %}
  </div>
{% endblock inbox_content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bookmark-article.js') }}"></script>
{% endblock scripts %}