{% extends "base.html" %}

{% block content %}
<!-- Hero section -->
<div class="jumbotron jumbotron-fluid bg-ultra-dark text-light padding-bottom hero">
  <div class="container">
  <h1 class="display-4 main-heading brand">
    <img src="{{ url_for('static', filename='images/feedforest-logo.png') }}" 
          alt="">
  </h1>
  <p class="lead pt-1">
    A simple RSS Aggregator and feed subscription service.
  </p>
  {% if not current_user.is_authenticated %}
    <a href="{{ url_for('auth.signup') }}" class="btn btn-primary mr-1">Sign up</a>
    <a href="#titles-section" class="btn btn-charcoal">Browse Feeds</a>
  {% else %}
  <a href="#titles-section" class="btn btn-primary">Browse Feeds</a>
  {% endif %}
  </div>
  
</div>
<!-- Titles section -->
<div class="hidden" id="titles-section"></div>
<div class="container padding-top">

  <div class="row">
    <div class="col-12 text-center">
      <h4 class="sub-heading">Browse from the following topics</h4>
    </div>
    <div class="col-12 padding-md-top">
      <div class="card-columns">
        {% for topic in topics %}
          <div class="card bg-dark text-light shadow-sm title-card h-100 mb-4" style="background-image: url('{{ image_overlays.get(topic.topic_name) }}');">
            <div class="card-body color-overlay">
              <h5 class="card-title"><a href="{{ url_for('general.topic', id=topic.id) }}" class="text-light stretched-link">{{ topic.topic_name }}</a></h5>
              <p class="card-text text-light">
                {% for feed in (topic.rss_feeds | selectattr("feed_type", "equalto", "standard") | list)[:5] %}
                  {{ feed.feed_name }}<br>
                {% endfor %}
                ...
              </p>
              <div class="hidden p-4"></div>
              <p class="card-text text-right read-more-icon">Read <i class="fas fa-chevron-right"></i></p>
            </div>  
          </div>  
        {% endfor %}
      </div>
      {% if current_user.is_authenticated %}
      <div class="hidden" style="height: 5rem;"></div>
      {% endif %}
    </div>
  </div>
</div>
{% if not current_user.is_authenticated %}
<!-- Sign up banner -->
  <div class="pb-5 text-center padding-md-top">
    <div class="container">
      <div class="card text-center bg-light">
        <div class="card-body">
          <h5 class="card-title">
            Find it useful? Sign up for more
          </h5>
          <p class="card-text">
            Subscribe to your favourite RSS Feeds.<br>
            Bookmark articles.<br>
            Create a custom feed wall with all your feeds at a glance.<br>
            Get daily updates from your feeds, straight to your inbox, at a time you choose.<br>
          </p>
          <a href="{{ url_for('auth.signup') }}" class="btn btn-primary">Create an account</a>
        </div>
      </div>  
    </div>
  </div>
{% endif %}

{% endblock content %}