<!DOCTYPE html>
<html class="h-100">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type = "image/x-icon" href="{{ url_for('static', filename='images/rss.png') }}">
  <script src="https://kit.fontawesome.com/775a21356d.js" crossorigin="anonymous"></script>
  {% if title %}
    <title>FeedForest | {{ title }}</title>
  {% else %}
    <title>FeedForest</title>
  {% endif %}
  <!-- Customized Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-theme.css') }}">
  <!-- Additional CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Muli:300" rel="stylesheet">
</head>
<body>
  <!-- Navbar  -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
      <a href="#" class="navbar-brand brand">
        <img src="{{ url_for('static', filename='images/feedforest-logo.png') }}" 
              alt=""
              height="20px" width="auto">
      </a>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburger" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="hamburger">
        <div class="navbar-nav mr-auto">
          <a href="#" class="nav-link active">Home</a>
          <a href="#" class="nav-link">Topics</a>
          <a href="#" class="nav-link">About</a>
        </div>
        <div class="navbar-nav">
          <a href="#" class="nav-link">Login</a>
          <a href="#" class="btn btn-primary sign-up-btn">Sign up</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Hero section -->
  <div class="jumbotron jumbotron-fluid bg-ultra-dark text-light padding-bottom hero vh-50">
    <div class="container">
    <h1 class="display-4 main-heading brand">
      <img src="{{ url_for('static', filename='images/feedforest-logo.png') }}" 
            alt="">
    </h1>
    <p class="lead">
      A simple RSS Aggregator and feed subscription service.
    </p>
    <button class="btn btn-primary mr-1">Sign up</button>
    <button class="btn btn-charcoal">Browse Feeds</button>
    </div>
  </div>
  <!-- Titles section -->
  <div class="container padding-top">
    <div class="row">
      <div class="col-12">
        <h5 class="sub-heading">Read the latest articles from the following topics:</h5>
      </div>
      <div class="col-12">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {% for topic in topics %}
          <div class="col mb-4">
            <div class="card text-dark shadow-sm title-card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ topic.topic_name }}</h5>
                <p class="card-text text-muted">
                  {% for feed in topic.rss_feeds[:3] %}
                    {{ feed.feed_name }}<br>
                  {% endfor %}
                  ...
                </p>
              </div>
            </div>  
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Sign up banner -->
  <div class="pb-5 text-center">
    <div class="container">
      <div class="card text-center bg-light">
        <div class="card-body">
          <h5 class="card-title">
            Find it useful? Sign up for more
          </h5>
          <p class="card-text">
            For creating a custom feed wall and receiving daily updates from the feeds of your choice, 
            create an account!
          </p>
          <a href="{{ url_for('auth.signup') }}" class="btn btn-primary">Create an account</a>
        </div>
      </div>  
    </div>
  </div>
  <!-- Footer -->
  <footer class="bg-dark padding-top padding-bottom">
    <div class="container">
      <hr>
      <div class="d-flex w-100">
        <div class="flex-grow-1 d-flex flex-column align-items-start">
          <p>About</p>
          <p>Send us your Feedback</p>
        </div>
        <div class="text-right">
          Made with &#x2764;<br>by Ak5cel
        </div>
      </div>
      <div style="color: #48456A;" class="mt-4">
          Logo icon made by 
          <a href="https://www.flaticon.com/authors/vectors-market" 
              style="color: #48456A; text-decoration: underline;"
              title="Vectors Market">
              Vectors Market
          </a> 
          from 
          <a href="https://www.flaticon.com/" title="Flaticon"
              style="color: #48456A; text-decoration: underline;">
              www.flaticon.com
          </a>
      </div>
    </div>
  </footer>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  {% block scripts %}{% endblock %}
  
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; 
  </script>
</body>
</html>