{% extends "base.html" %}

{% block content %}
<div class="container padding-bottom">
  <div class="row">
    <div class="col-md-12">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="col">
      <h3 class="mt-4 mt-md-5 mb-4">My Articles</h3>
      <div class="content-section pt-1">
        {% if bookmarked_articles[0] %}
          <ul class="list-group list-group-flush">
            {% for article in bookmarked_articles %}
              <li class="article toggle-display list-group-item px-3 d-flex justify-content-between"
                  data-status="bookmarked"
                  data-article-id="{{ article.id }}">
                <div class="d-flex flex-column justify-content-end">
                  <small>
                    <a href="{{ article.rssfeed.site_url }}" class="text-muted">{{ article.rssfeed.feed_name.upper() }}</a>
                  </small>
                  <h6 class="pr-3">
                    <a class="text-dark" href="{{ article.link }}">{{ article.title }}</a>
                  </h6> 
                  {% if article.published_on %}
                  <!-- <br> -->
                  <p class="small text-muted">
                    {{ article.published_on.strftime('%B %e, %Y, %I:%M %p %Z') }} UTC
                  </p>
                  {% endif %} 
                </div>
                <div class="d-flex flex-column align-items-end">
                  <form action="" method="POST">
                    {{ empty_form.hidden_tag() }}
                    {{ empty_form.submit(value='Remove', class='btn btn-sm btn-secondary toggle-bookmark') }}
                  </form>
                </div>
              </li>       
            {% endfor %}  
          </ul>
          <div class="hidden" style="height: 20rem;"></div>
        {% else %}
          <div class="d-flex flex-column align-items-center justify-content-center text-center" style="height: 150px">
            <small class="text-muted mb-2">No articles bookmarked</small>
            <small>
              Go to  
              <a href="{{ url_for('user.my_feeds') }}">My Feeds</a>
              and click on the <i class="far fa-bookmark text-success"></i> next to an article to bookmark it!
            </small>
          </div>
          <div class="hidden" style="height: 15rem;"></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

  
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/bookmark-article.js') }}"></script>
{% endblock scripts %}