{% extends "layout.html" %}

{% block content %}
	<div class="col">
		<h3 class="mb-4">My Articles</h3>
		<div class="content-section pt-1">
			{% if bookmarked_articles[0] %}
				<ul class="list-group list-group-flush">
					{% for article in bookmarked_articles %}
						<li class="list-group-item p-2 d-flex justify-content-between">
							<div class="d-flex flex-column justify-content-end">
								<small>
									<a class="text-muted" href="{{ article.rssfeed.site_url }}">{{ article.rssfeed.site_name }}</a>
								</small>
								<p class="mb-0 pr-3">
									<a href="{{ article.link }}">{{ article.title }}</a>
								</p>	
							</div>
							<div class="d-flex flex-column align-items-end">
								<small class="text-light-gray pb-2">{{ article.topic.topic_name }}</small>
								<form action="{{ url_for('unbookmark_article', article_id=article.id) }}" method="POST">
									{{ empty_form.hidden_tag() }}
									{{ empty_form.submit(value='Remove', class='btn btn-sm btn-secondary') }}
								</form>
							</div>
						</li>				
					{% endfor %}	
				</ul>
			{% else %}
				<div class="d-flex flex-column align-items-center justify-content-center" style="height: 150px">
					<small class="text-muted mb-2">No articles bookmarked</small>
					<small>
						Go to  
						<a href="{{ url_for('my_feeds') }}">My Feeds</a>
						and click on the <i class="far fa-bookmark text-success"></i> next to an article to bookmark it!
					</small>
				</div>
			{% endif %}
		</div>
	</div>
	
{% endblock content %}