{% extends "base.html" %}

{% block content %}
<div class="container padding-bottom">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-between mt-4 mt-md-5">
      <h3 class="mb-4">My Feeds</h3>
      {% if current_user.selected_feeds[0] %}
      <small class="text-muted">Last updated: {{ last_updated_on.strftime('%B %e, %Y, %I:%M %p %Z') }} UTC</small>
      {% endif %}
    </div>
    <div class="col-md-12">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="col">
      {% if current_user.selected_feeds[0] %}
        <div class="card-columns">
          {% for feed in current_user.selected_feeds %}
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title mb-4">
                  <a class="text-dark" href="{{ feed.rss_link }}" title="{{ feed.rss_link }}">{{ feed.feed_name }}</a>
                </h5>
                {% for article in feed.articles %}
                  {% if article in latest_articles %}
                    {% if article in current_user.bookmarked_articles %}
                      <div class="article d-flex justify-content-between" data-status="bookmarked" data-article-id="{{ article.id }}">
                        <p class="card-text pr-4 pb-1">
                          <a href="{{ article.link }}">{{ article.title }}</a>
                          {% if article.published_on %}
                          <br>
                          <small class="text-muted">
                            {{ article.published_on.strftime('%B %e, %Y, %I:%M %p %Z') }} UTC
                          </small>
                          {% endif %}
                        </p>
                        <a href="#" class="toggle-bookmark">
                          <i class="far fa-bookmark"></i>
                        </a>
                      </div>  
                    {% else %}
                      <div class="article d-flex justify-content-between" data-status="not-bookmarked" data-article-id="{{ article.id }}">
                        <p class="card-text pr-4 pb-1">
                          <a href="{{ article.link }}">{{ article.title }}</a>
                          {% if article.published_on %}
                          <br>
                          <small class="text-muted">
                            {{ article.published_on.strftime('%B %e, %Y, %I:%M %p %Z') }} UTC
                          </small>
                          {% endif %}
                        </p>
                        <a href="#" class="toggle-bookmark">
                          <i class="far fa-bookmark"></i>
                        </a>
                      </div>
                    {% endif %}
                  {% endif %}     
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="hidden" style="height: 10rem;"></div>
      {% else %}
        <div class="d-flex flex-column align-items-center justify-content-center text-center" style="height: 150px">
          <small class="text-muted mb-2">No feeds selected</small>
          <small>
            Click 
            <a href="{{ url_for('user.edit_feeds') }}">Add Feeds</a>
            to start adding feeds!
          </small>
        </div>  
        <div class="hidden" style="height: 15rem;"></div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/bookmark-article.js') }}"></script>
{% endblock scripts %}