{% extends "base.html" %}

{% block content %}
<div class="container padding-bottom">
  <div class="row">
    <div class="col-md-12">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="col">
      <h3 class="mt-4 mt-md-5 mb-4">My Articles</h3>
      <div class="pt-1">
        <ul class="list-group list-group-flush loader">
          <!-- The preloaded set of articles -->
          {% for article in articles[:5] %}
            <li class="article list-group-item px-3 d-flex justify-content-between"
                data-status="{{ 'bookmarked' if (article in current_user.bookmarked_articles) else 'notBookmarked' }}"
                data-article-id="{{ article.id }}">
              <div class="d-flex flex-column justify-content-end">
                <small>
                  <a href="{{ article.rssfeed.site_url }}" class="text-muted">{{ article.rssfeed.feed_name.upper() }}</a>
                </small>
                <h6 class="pr-3">
                  <a class="text-dark" href="{{ article.link }}">{{ article.title }}</a>
                </h6>
                {% if article.published_on %}
                  <p class="small text-muted">{{ article.published_on.strftime('%B %e, %Y, %I:%M %p %Z') }}</p>
                {% endif %}
              </div>
              <a href="#" class="toggle-bookmark">
                <i class="far fa-bookmark"></i>
              </a>  
            </li>
          {% endfor %}
          <!-- Template for remaining articles -->
          <template id="article_template">
            <li class="article list-group-item px-3 d-flex justify-content-between"
                data-status="notBookmarked"
                data-article-id=""
                id="articleItem">
              <div class="d-flex flex-column justify-content-end">
                <small>
                  <a id="feedLink" href="" class="text-muted"></a>
                </small>
                <h6 class="pr-3">
                  <a id="articleLink" class="text-dark" href=""></a>
                </h6> 
                <p id="publishedOn" class="small text-muted"></p>
              </div>
              <a href="#" class="toggle-bookmark">
                <i class="far fa-bookmark"></i>
              </a>  
            </li>
          </template>
        </ul>
        {% if articles[5] %}
          <a href="#" class="btn btn-primary" id="loadBtn" data-feed-id="1" data-page="1">Load more</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/load-more.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bookmark-article.js') }}"></script>
{% endblock scripts %}