{% extends "layout.html" %}

{% block content %}
	<div class="col">
		<h3 class="mb-4">My Feeds</h3>
		<div class="card-columns">
			{% for feed in current_user.selected_feeds %}
				<div class="card mb-4">
					<div class="card-body">
						<h5 class="card-title mb-4">
							<a class="text-dark" href="{{ feed.rss_link }}" title="{{ feed.rss_link }}">{{ feed.site_name }}</a>
						</h5>
						{% for article in feed.articles %}
							{% if article in current_user.bookmarked_articles %}
								<div class="article d-flex justify-content-between" data-status="bookmarked" data-article-id="{{ article.id }}">
									<p class="card-text pr-4 pb-1">
										<a href="{{ article.link }}">{{ article.title }}</a>
									</p>
									<a href="#" class="toggle-bookmark">
										<i class="far fa-bookmark"></i>
									</a>
								</div>	
							{% else %}
								<div class="article d-flex justify-content-between" data-status="not-bookmarked" data-article-id="{{ article.id }}">
									<p class="card-text pr-4 pb-1">
										<a href="{{ article.link }}">{{ article.title }}</a>
									</p>
									<a href="#" class="toggle-bookmark">
										<i class="far fa-bookmark"></i>
									</a>
								</div>
							{% endif %}
														
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>	
	</div>
	
{% endblock content %}