{% extends "email/default-template.html" %}

{% block main_content %}
<div class="main-content align-center">
    <img src="https://i.ibb.co/C6r7y6j/undraw-daily-email.png" alt="undraw-daily-email" border="0">
    <h2>Hey {{ user.username }}!</h2>
    <p class="text-main" style="">Here are the latest articles from your selected feeds.</p>
    {% for article in articles %}
        <div class="article">
            <hr>
            <a href="{{ article.rssfeed.site_url }}" class="feed-name">{{ article.rssfeed.feed_name }}</a><br>
            <a href="{{ article.link }} " class="article-title">{{ article.title }}</a><br>
            {% if article.published_on %}
                <span class="published-on">{{ article.published_on.strftime('%B %e, %Y, %I:%M %p %Z') }} UTC</span>
            {% endif %}            
        </div>
    {% endfor %}
    <p class="text-main mt-30">Visit your feed wall for further updates</p>
    <a href="{{ my_feeds_link }}" class="button" style="margin-top: 15px">My Feed Wall</a>
    <hr class="hr-bottom">
    <p class="sub-text align-left">Trouble with the link above? Paste this URL into your browser (login required):</p>
    <p class="long-link">{{ my_feeds_link }}</p>
</div>
{% endblock main_content %}

{% block footer %}
        <p>You received this email as part of your daily subscription to FeedForest.</p>
        <p>You may <a href="{{ unsubscribe_link }}"><u>Unsubscribe</u></a> at any time.</p>
{% endblock footer %}