{% extends "email/default-template.html" %}

{% block main_content %}
<div class="main-content">
        <img src="https://i.ibb.co/QCsM88x/undraw-reset-password.png" alt="undraw-reset-password" border="0">
        <h2>Hi {{ user.username }},</h2>
        <p class="text-main" style="">We've received a request to reset your password. This link expires in 30 minutes and can only be used once.</p>
        <a href="{{ reset_password_link }}" class="button" style="margin-top: 15px; margin-bottom: 15px;">Reset Password</a>
        <p class="text-main"> If you did not make this request, simply ignore this email and your account will remain secure.</p>
        <hr class="hr-bottom">
        <p class="sub-text">Trouble with the link above? Paste this URL into your browser:</p>
        <p class="long-link">{{ reset_password_link }}</p>
      </div>
    </div>
{% endblock main_content %}

{% block footer %}
    <p>If you have not requested a password reset, please ignore this message.</p>
{% endblock footer %}