{% extends "email/default-template.html" %}

{% block main_content %}
<div class="main-content">
        <img src="https://i.ibb.co/QCsM88x/undraw-reset-password.png" alt="undraw-reset-password" border="0">
        <h2>Hi JohnDoe,</h2>
        <p class="text-main" style="">We've received a request to reset your password. This link expires in 30 minutes and can only be used once.</p>
        <a href="#" class="button" style="margin-top: 15px; margin-bottom: 15px;">Reset Password</a>
        <p class="text-main"> If you did not make this request, simply ignore this email and your account will remain secure.</p>
        <hr class="hr-bottom">
        <p class="sub-text">Trouble with the link above? Paste this URL into your browser:</p>
        <p class="long-link">http://127.0.0.1:5000/verify-email/eyJhbGciOiJIUzUxMiIsImlhdCI6MTU5NzEwMTA5OSwiZXhwIjoxNTk3MTA0Njk5fQ.eyJ1c2VyX2lkIjoyfQ.OQktlpv0W_lQV0UgwC-Pb_hHQne7CKXlcwN8_u8RtjsPsbIgXtbmfCHWyCpnm9Q2IfL80XhZ6yQL9VWV3Tfa7Q</p>
      </div>
    </div>
{% endblock main_content %}

{% block footer %}
    <p>If you have not requested a password reset, please ignore this message.</p>
{% endblock footer %}