@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Montserrat:wght@700&family=Roboto&display=swap');
        /* latin */
        @font-face {
          font-family: 'Domine';
          font-style: normal;
          font-weight: 400;
          src: local('Domine'), local('Domine-Regular'), 
            url(https://fonts.gstatic.com/s/domine/v7/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, 
            U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, 
            U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        /* latin */
        @font-face {
          font-family: 'Domine';
          font-style: normal;
          font-weight: 700;
          src: local('Domine Bold'), local('Domine-Bold'), 
            url(https://fonts.gstatic.com/s/domine/v7/L0x_DFMnlVwD4h3pAN-ySghJ.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, 
            U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, 
            U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

         latin 
        @font-face {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          src: local('Montserrat Bold'), local('Montserrat-Bold'), 
            url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, 
            U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, 
            U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        /* latin */
        @font-face {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          src: local('Roboto'), local('Roboto-Regular'), 
            url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, 
            U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, 
            U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        * {
            font-family: 'Roboto', 'Arial', sans-serif;
        }

        h1, h2 {
            font-family: 'Domine', 'Cambria', 'Optima', serif;
            font-weight: 700;
            color: #504A63;
        }

        p, a {
            color: #504A63;
            font-family: 'Roboto', 'Arial', sans-serif;
        }

        .text-muted {
            color: 
        }
        .backdrop {
            font-size:14px;
            background-color: #504A63;
            min-height: 20em;
        }

        .content-section {
            padding: 10px 30px;
            background-color: #F7F7F8;
            min-height: inherit;
            max-width: 80%;
            margin: 0 auto;
        }

        .brand {
            color: #EB7F50;
            font-family: 'Montserrat', 'Geneva', 'Segoe UI', sans-serif;
            padding-bottom: 10px;
            font-weight: 700;
        }

        .btn {
            text-decoration: none;
            outline: 0;
            outline-offset: 0;
            border: 0;
            border-radius: 2px;
            line-height: 1.1;
            margin-top: 20px;
            background-color: #EB7F50;
            color: #fff;
            padding: 10px;
            font-size: 14px;
        }

        .btn-wrapper {
            padding: 5px 0 30px 0;
        }

        .signature {
            padding-top: 20px; 
        }

        .footer {
            font-size: 10px;
            color: #9692a1;
            margin-top: 50px;
            border: 1px solid #dededf;
            border-right: 0;
            border-bottom: 0;
            border-left: 0;
            padding: 20px 0 0 0;
            text-align: center;
        }

        .footer .brand {
            display: block;
            text-align: center;
            color: #9692a1;
            padding-bottom: 0;
            padding-top: 30px;
            margin-bottom: 0;
        }